@model ToDoTask

<h1>Stephen Covey's Time Management Matrix</h1>
<p>Use this matrix to prioritize your tasks based on their urgency and importance.</p>
<img src="~/timemanagementmatrix.png" width="300"/>

<h2>Add a New Task</h2>

<form method="post">
    <input type="hidden" asp-for="TaskId" />
    <br/>
    <label asp-for="TaskInfo">Task Info: </label>
    <input type="text" asp-for="TaskInfo" />
    <br/>
    <label asp-for="DueDate">Due Date: </label>
    <input type="date" asp-for="DueDate" />
    <br />
    <fieldset>
        <legend asp-for="Quandrant">Quadrant:</legend>

        <select asp-for="Quandrant">
            <option value="I">I</option>
            <option value="II">II</option>
            <option value="III">III</option>
            <option value="IV">IV</option>
        </select>
    </fieldset>





    <br />

    <select asp-for="CategoryId"> 
        <option value="">Select a Category</option> 
        @foreach (var c in ViewBag.Categories) 
        { 
            <option value="@c.CategoryId">@c.CategoryName</option>
        }
    </select>

    <br/>

    <input asp-for="Completed" type="checkbox">
    <label asp-for="Completed">Task Complete?</label><br>

    <input type="submit" value="Add Task" />
</form>
<div asp-validation-summary="All"></div>