@{
    Layout = null;
}

<div class="container">
<div class="row">
    <h3>Stephen Covey's Time Management Matrix</h3>
</div>
<div class="row">
    <div class="col-2"></div>
    <div class="col-4">Urgent</div>
    <div class="col-4">Not Urgent</div>
</div>
<div class="row">
    <div class="col-2">Important</div>
    <div class="col-4">
        <h4>Quadrant 1</h4>
        <p>List of stuff</p>
    </div>
    <div class="col-4">
        <h4>Quadrant 2</h4>
        <p>List of stuff</p>
    </div>
</div>
<div class="row">
    <div class="col-2">Not Important</div>
    <div class="col-4">
        <h4>Quadrant 3</h4>
        <p>List of stuff</p>
    </div>
    <div class="col-4">
        <h4>Quadrant 1</h4>
        <p>List of stuff</p>
    </div>
</div>
    
</div>
